{% extends 'layout.twig' %}

{% block body %}
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mb-3">{{ category }}</h1>
      {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">{{ post.title }}</div>
            <div class="card-body">
                <p>{{ post.description }}</p>
                <p>{{ post.contacts }}</p>
                <p>{{ post.status }}</p>
            </div>
        </div>
      {%  endfor %}
    </div>
  </main>
{% endblock %}
