{% extends 'layout.twig' %}

{% block body %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mb-3">{{ category }}</h1>
            <div class="post-container">
                {% for post in posts %}
                    <div class="post-item card mb-3">
                        <div class="card-header">{{ post.title }}</div>
                        <div class="card-body">
                            <p>Description: {{ post.description }}</p>
                            <p>{{ post.contacts }}</p>
                            <div class="alert alert-success">{{ post.status }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
